.projects {
    background-color: black;
}

.projects-section {
    /* padding: 2rem; */
    background-color: black; /* Or any other background color */
    padding: 4rem;
  }
  
  .project-card {
    border: none;
    border-radius: 20px;
    background: linear-gradient(145deg, #1c1c1c, #171717); /* Subtle gradient */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    color: white; /* Text color */
    overflow: hidden; /* Ensure the image doesn't overflow the border-radius */
    /* transition: transform 0.3s ease-in-out; */
    transition: transform 0.3s ease-in-out;
    border: 2px solid white; /* Adds a light grey border */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  }
  
  .project-card:hover {
    transform: scale(1.15); /* Adjust scale value as needed */
    z-index: 10; /* Ensures the card is above others when scaled */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: adds shadow for depth */
    border-color: #a2a2a2; /* Darkens the border on hover */

  }
  
  
  .project-card img {
    height: 200px;
    object-fit: cover; /* Ensure the image covers the card area */
  }
  
  .project-card .card-body {
    position: relative;
  }
  
  .project-card .card-title {
    font-size: 1.25rem; /* Title font size */
    margin-bottom: 0.75rem;
  }
  
  .project-card .card-text {
    font-size: 0.9rem; /* Text font size */
  }
  
  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* Space between tags */
  }
  
  .tag {
    display: inline-block;
    background-color: #6e4d9b; /* Tag background color */
    color: #fff;
    border-radius: 10px;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  
  /* Responsive adjustments can be made with media queries if necessary */
  