.tech-container {
    margin: 10px;
    padding: 10px;
    background-color: #f7f7f7; /* Light background for the container */
    color: #333; /* Dark text color for visibility */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  }
  
  .tech-container .card-header {
    background-color: #040B2A; /* Custom color for headers */
    color: white;
  }

  .tech-container .card-body {
    background-color: #040B2A; /* Custom color for headers */
    color: white;
  }
  
  .tech-container svg {
    margin-right: 2px;
    font-size: 24px; /* Adjust icon size */
    vertical-align: middle; /* Align icons vertically with the text */
    /* background-color: white; */
  }
  .tech {
    background-color: black;
    padding: 4rem;
  }  
  .tech-icon {
    display: inline-block;
    margin: 8px; /* Add space around each icon */
    font-size: 50px; /* Adjust icon size */
    /* You can also add padding if you prefer */
  }
  .logo{
    background-color: white;
    color: black;
  }
  
  .tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}