
.tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px; /* Adjust the space between tags as needed */
    justify-content: left; /* Center the tags container */
    padding: 7px;
    background-color: #040B2A; /* Your preferred background color */
  }


.tech-tag {
    padding: 5px 15px;
    background-color: #fffbe6; /* Your preferred tag background color */
    color: #d48806; /* White color for the text */
    font-weight: bold;
    border-color: #ffe58f ;
    border-radius: 2px; /* Adjust for rounded corners */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
    font-size: 0.8rem; /* Adjust text size as needed */
  }
  
  .experience-summary {
    padding: 20px; /* Adjust the padding as necessary */
    color: #ffffff; /* Choose color that fits the theme */
    background-color: black; /* Or any other desired background color */
    margin: 0 auto; /* Center the summary box */
    width: 80%; /* Match the width of your work experience entries */
    border-radius: 5px; /* Optional: if you want rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: if you want a shadow effect */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: flex-start; /* Align text to the start */
    margin-bottom: 30px; /* Space before the work experience section */
  }
  
  /* h4 {
    margin-bottom: 0.5em; /* Adjust space below the heading */
    font-size: 0.5em; /* Adjust the font size as necessary */
    text-transform: uppercase; /* Optional: if you want uppercase letters */
    letter-spacing: 2px; /* Optional: if you want more spacing between letters */
  } */
  

  .section-title {
    font-size: 2.5rem; /* Large section title */
    color: #ffffff;
    margin-bottom: 1rem;
    font-weight: 1600;
  }

  .experience-heading {
    text-align: left;
    position: relative;
    font-size: 1rem;
    color: #fff;
    /* padding: 20px; */
  }
  
  .experience {
    background-color: black;
    padding: 4rem;
  }